{% load static %}
<!DOCTYPE html>
<html style="height: 0px;min-height: 0px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
    <link rel="stylesheet" href="{% static 'passwordReset/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'passwordReset/css/Dark-Footer-1.css'%}">
    <link rel="stylesheet" href="{% static 'passwordReset/css/Dark-Footer-2.css'%}">
    <link rel="stylesheet" href="{% static 'passwordReset/css/Dark-Footer-3.css'%}">
    <link rel="stylesheet" href="{% static 'passwordReset/css/Dark-Footer-4.css'%}">
    <link rel="stylesheet" href="{% static 'passwordReset/css/Dark-Footer-5.css'%}">
    <link rel="stylesheet" href="{% static 'passwordReset/css/Dark-Footer.css'%}">
</head>

<body class="bg-gradient-primary" style="background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;filter: brightness(100%);height: 100%;">
    <div class="container" style="filter: brightness(93%);">
        <div class="row justify-content-xl-center" style="margin-bottom: 0px;">
            <div class="col-md-9 col-lg-12 col-xl-10" style="margin-top: 200px;">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" id="background_image"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4"><br>Forgot Your Password?<br></h4>
                                        <p class="mb-4">Just enter your email address below and we'll send you a link to reset your password!</p>
                                    </div>
                                    <form method="POST" class="user">
                                         {% csrf_token %}

                                        <div class="form-group">

                                            <input class="form-control form-control-user" type="email" id="email" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email">
                                            {{form.errors}}
                                        </div><button class="btn btn-primary btn-block text-white btn-user"
                                            type="submit">Reset Password</button>
                                        <hr style="filter: brightness(92%);">
                                        <div class="text-center"><a class="small" href="{% url 'login' %}">Back to Login?</a></div>
                                        <hr>
                                    </form>
                                    <div>{% block content %} {% endblock content %}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'passwordReset/js/jquery.min.js'%}"></script>
    <script src="{% static 'passwordReset/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'passwordReset/js/theme.js'%}"></script>
</body>

</html>