{% load static %}
<!DOCTYPE html>
<html>





<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MCQ Quiz </title>
    <link rel="stylesheet" href="{% static 'quiz1/assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed">
    <link rel="stylesheet" href="{% static 'quiz1/assets/fonts/ionicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'quiz1/assets/css/Button-Ribbon-Effect.css'%}">
    <link rel="stylesheet" href="{% static 'quiz1/assets/css/List-item.css'%}">
    <link rel="stylesheet" href="{% static 'quiz1/assets/css/Pretty-User-List.css'%}">
</head>

<body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar" style="background-image: url(/static/quiz1/assets/img/beautiful-color-gradients-backgrounds-091-eternal-constance.png);">
        <div class="container-fluid"><a class="navbar-brand" href="#"><i class="icon ion-ios-infinite" id="brand-logo"></i></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1" style="padding-right: 15px;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'dashboard'%}" style="padding-right: 30px;">Dashboard</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'advice'%}" style="padding-right: 30px;">Advice</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="padding-right: 30px;">Test Yourself</a></li>
                    <li class="nav-item dropdown" style="height: auto;font-size: 15px;"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgba(255,255,255,0.71);">Welcome , {{request.user}}&nbsp;<img class="border rounded-circle img-profile" src="{{ request.user.profile.profile_pic.url}}" style="height: 28px;width: 28px;"></a>
                        <div
                            class="dropdown-menu" role="menu" id="dropdonw-items"><a class="dropdown-item" role="presentation" href="{% url 'profile'%}">Profile</a><a class="dropdown-item" role="presentation" href="{% url 'logout'%}">Logout</a></div>
        </li>
        </ul>
        </div>
        </div>
    </nav>
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper" style="background-image: url(/static/quiz1/assets/img/david-pennington-T-GjUWPW-oI-unsplash.png);background-size: cover;background-repeat: no-repeat;background-position: center;">
            <div id="content">
                <div class="container-fluid">
                    <div class="row" style="margin-top: 89px;">
                        <div class="col-xl-10 offset-xl-1" style="margin-top: 50px;margin-bottom: 35px;">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 font-weight-bold" style="font-size: 26px;">Before you attempt the quiz , here are the rules&nbsp;</p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 offset-sm-0 user-item">
                                            <div class="user-container" style="height: 48px;">
                                                <p class="user-name" style="font-size: 19px;"><a href="#">1. All questions are mutiple choice questions in this quiz .</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 user-item">
                                            <div class="user-container" style="height: 48px;">
                                                <p class="user-name"><a href="#" style="color: rgb(228,45,33);font-size: 19px;">2. Only one of the questions is the correct choice.&nbsp;</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row user-list">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 user-item">
                                            <div class="user-container" style="height: 48px;">
                                                <p class="user-name" style="font-size: 19px;"><a href="#">3. Every Question is displayed only once per user.</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row user-list">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 user-item">
                                            <div class="user-container" style="height: 48px;">
                                                <p class="user-name"><a href="#" style="font-size: 19px;">4. You will be presented with the correct answer or incorrect , once you submit the answer.</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row user-list">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 user-item">
                                            <div class="user-container" style="height: 48px;">
                                                <p class="user-name"><a href="#" style="font-size: 19px;">5. Read through every question carefully&nbsp;</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-xl-8 offset-lg-4 offset-xl-2"><a href="{% url 'MCQ_quiz'%}"> <button class="btn btn-secondary ribbon" type="button" style="color: rgb(255,255,255);">Let's&nbsp; play</button></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span><br>Shashank Ravikumar © 2020 &nbsp;Catching the Phish UEA<br><br><br></span></div>
        </div>
    </footer>
    <script src="{% static 'quiz1/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'quiz1/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.js"></script>
    <script src="{% static 'quiz1/assets/js/slider-hover.js' %}"></script>
    <script src="{% static 'quiz1/assets/js/theme.js' %}"></script>
</body>




</html>